html,
body {
  padding: 0px;
  margin: 0px;
  font-family: "Outfit", sans-serif;
  background-color: #FFFFFF;
  scroll-behavior: smooth;
}

/* Inputs */

input, textarea, button{
  font-family: "Outfit", sans-serif;
}

/* Controladores */
.siguiente{
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #848484;
  font-weight: 300;
  cursor: pointer;
  z-index: 1;
}

.siguiente:first-child{
  color: #FFFFFF;
}

.siguiente__blanco{
  font-size: 20px;
  margin-top: 8px;
}


/* Navegacion */
.navegacion {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.77) 0%, rgba(0, 0, 0, 0) 100%);
  /* background-color: black; */
  position: fixed;
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.navegacion--visible{
    background-color: black;
    transition: background-color 0.5s;
}

.navegacion__logo{
  margin-left: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navegacion__logo p{
  margin-left: 10px;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 28px;
}

.navegacion__menu{
  color: #FFFFFF;
  width: 50vw;
  display: flex;
  justify-content: space-between;
}

.navegacion__menu__boton{
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(50vw / 5);
  text-align: center;
  transition: all 0.2s;
}

.navegacion__menu__boton:hover{
  background-color: #FFFFFF;
  color: #848484;
  cursor: pointer;
  transition: all 0.2s;
}

.navegacion__menu__boton:visited{
  color: #FFFFFF;
}

.navegacion__menu__boton:visited:hover{
  color: #848484;
}



/* Footer */
.footer{
  width: 100vw;
  height: 70px;
  background-color: black;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__institucion{
  color: #FFFFFF;
  margin-left: 30px;
}

.footer__integrantes{
  display: flex;
}

.footer__integrantes__integrante{
  color: #FFFFFF;
  font-weight: 300;
  margin-right: 30px;
}